/*******
* Albums *
********/

.albums-content{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding: 5rem 1.5rem;
}

.albums{
    background-color: white;
}

.link{
    color: black;
}

/*Procurando uma música ?*/
.albums-content h2{
    font-size: 3rem;
    margin-bottom: 1.5rem;
    text-shadow: 0 0 0.1rem black;
}

/*Paragráfo*/
.albums-content p{
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

/*botão*/
.albums-content button{
    padding: 1.5rem 4.5rem;
    border-radius: 3rem;
    outline: none;
    background: white;
    color: black;
    font-weight: 700;
    border-color: gray;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3 ease;
}

.albums-content button:hover{
    background: black;
    color: white;
}

.albums-content button:active{
    background: black;
    border-color: black;
}

.albums-cards-container{
    display: flex;
    overflow: auto;
    padding-bottom: 8rem;
}

/* Tirar a barra horizontal*/
.albums-cards-container::-webkit-scrollbar{
    display: none;
}

/* Container do album e das imagens*/
.album{
    min-width: 50%;
    padding-left: 3.5rem;
    box-sizing: content-box;
}

.album:first-child{
    padding-left: 1.5rem;
}

.album:last-child{
    padding-right: 1.5rem;
}

.album img{
    width: 100%;
    box-shadow: 0.1rem 0.1rem 1.6rem -0.2rem rgba(0, 0, 0, 0.3);
}

.album img:hover{
    cursor: pointer;
}

/*container com título da música, nome do artista*/
.album-info{
    display: flex;
}

.album-info h2,
.album-info h4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

/*título de musica*/
.album-info h2{
    font-size: 1.75rem;
}

/*albums*/
.albums-container{
    width: 75rem;
    margin: 0 auto;
}

.albums-cards-container{
    flex-wrap: wrap;
    overflow: visible;
    padding: 5rem 0;
}

.album{
    min-width: 0;
    width: 33.33%;
    box-sizing: border-box;
    padding: 0.8rem;
}

