@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* a{
    text-decoration: none;
}

* {
    font-family: 'Poppins', sans-serif;
}

.logo {
    display: flex;
    height: 120px;
}

body {
    overflow-x: hidden;
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
    background-color: #000;
}
.nav_links a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: .5rem 1.5rem;
    font-size: .95rem;
}
.line {
    display: inline-block;
    width: 1px;
    height: 1rem;
    background-color: #fff;
}
a:hover,
a:hover i {
    color: #00d4ff;
}

.marshmello {
    position: absolute;
    top: 290px;
    left: 60%;
}

img {
    height: 480px;
}

.container{
    padding-bottom: 3rem;
}

.content {
    width: 100%;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: #00d4ff;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
}

.content h1 {
    font-size: 6rem;
    transform: translateX(5%);
}

.content p {
    text-align: center;
    font-size: 1.3rem;
}

.container button {
    background-color: #00d4ff;
    padding: .7rem 2rem;
    border-radius: 100vw;
    border: none;
    display: flex;
    margin-left: 250px;
    color: #022127;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 2rem;
    cursor: pointer;
    /* agora vamos adicionar aquele foco legal e efeito ativo */
    transition: 100ms ease-in-out box-shadow;
}
.content button:hover {
    transform: scale(1.05);
}
.content button:active {
    box-shadow: 0 0 0 .2rem #2941AB,
                0 0 0 .4rem #fff;
                /* adicione o +2 o valor que você adicionou à primeira sombra */
                /* primeira sombra .2 + segunda sombra +2 = .4rem */
}

/* rodapé */

footer {
    position: relative;
    background-color: #000;
    min-height: 40vh;
    width: 100%;
    padding: 4rem 0;
    display: grid;
    grid-template-columns: 4fr 1fr;
    place-items: center;
    align-items: flex-start;
}
footer * {
    text-decoration: none;
    color: #fff;
}
footer h5 {
    opacity: .4;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .05rem;
}

.web_links_container {
    display: flex;
}
.web_links {
    margin-left: 3rem;
    display: flex;
    align-items: flex-start;
    column-gap: 3rem;
}
.web_links > div {
    display: flex;
    flex-direction: column;
}
.web_links a,
.web_links h5 {
    margin: .5rem 0;
    font-size: .9rem;
}

.social_links {
    display: flex;
    margin-right: 10rem;
}
.social_links a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #222326;
    border-radius: 50%;
    margin: 0 .5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other_links,
.copyright {
    opacity: .5;
    font-size: .7rem;
    margin-top: 6rem;
}
.other_links a {
    margin: 0 .5rem;
}

.copyright {
    margin-top: 5rem;
    text-align: right;
}
.copyright a {
    display: block;
    margin-bottom: .5rem;
}