@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f6f5f7;
}


.geral{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    display: flex;
    height: 180px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
    background-color: #f6f5f7;
}
.nav_links a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: .5rem 1.5rem;
    font-size: .95rem;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #00d4ff;
	background-color: #00d4ff;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
    margin: 1rem;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background:rgba(0,212,255,1) 100%;
	background:linear-gradient(to right, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(0,212,255,1) 100%);
	background:-webkit-linear-gradient(to right, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.bf {
    background-image: url('Imagens/facebook.png');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 50%;
}

.bg {
    background-image: url('Imagens/google-plus.png');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 50%;
  }

.bl {
    background-image: url('Imagens/linkedin.png');
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 50%;
}



footer {
    position: relative;
    background-color: #000;
    min-height: 60vh;
    width: 100%;
    padding: 4rem 0;
    display: grid;
    grid-template-columns: 4fr 1fr;
    place-items: center;
    align-items: flex-start;
}
footer * {
    text-decoration: none;
    color: #fff;
}
footer h5 {
    opacity: .4;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .05rem;
}

.web_links_container {
    display: flex;
}
.web_links {
    margin-left: 3rem;
    display: flex;
    align-items: flex-start;
    column-gap: 3rem;
}
.web_links > div {
    display: flex;
    flex-direction: column;
}
.web_links a,
.web_links h5 {
    margin: .5rem 0;
    font-size: .9rem;
}

.social_links {
    display: flex;
    margin-right: 10rem;
}
.social_links a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #222326;
    border-radius: 50%;
    margin: 0 .5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other_links,
.copyright {
    opacity: .5;
    font-size: .7rem;
    margin-top: 6rem;
}
.other_links a {
    margin: 0 .5rem;
}

.copyright {
    margin-top: 5rem;
    text-align: right;
}
.copyright a {
    display: block;
    margin-bottom: .5rem;
}