@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
    overflow-x: hidden;
}

/* Cabeçalho */

.logo {
    display: flex;
    height: 120px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
    background-color: #000;
    width: 100%;
}
.nav_links a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: .5rem 1.5rem;
    font-size: .95rem;
}
.line {
    display: inline-block;
    width: 1px;
    height: 1rem;
    background-color: #fff;
}
a:hover,
a:hover i {
    color: #00d4ff;
}

/* parte central, promoção */

.content{
    width: 100%;
    height: 80vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(140,62,76,1) 88%);
    color: #ffffff;
}

.img-sup{
    box-sizing: border-box;
    position: absolute;
    top: 320px;
    left: 60%;
    box-shadow: 0.1rem 0.1rem 1.7rem -0.6rem rgba(0, 0, 0, 0.3);   
}

.container button {
    background-color: #000000;
    padding: .7rem 2rem;
    border-radius: 100vw;
    border: none;
    display: flex;
    margin-left: 280px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 2rem;
    cursor: pointer;
    /* agora vamos adicionar aquele foco legal e efeito ativo */
    transition: 100ms ease-in-out box-shadow;
}

.content button:hover {
    transform: scale(1.05);
}
.content button:active {
    box-shadow: 0 0 0 .2rem #000208,
                0 0 0 .4rem #fff;
                /* adicione o +2 o valor que você adicionou à primeira sombra */
                /* primeira sombra .2 + segunda sombra +2 = .4rem */
}

.content h1{
    padding-top: 150px;
    transform: translateX(15%);
    font-size: 3rem;
}

.content p{
    transform: translateX(15%);
    font-size: 1.2rem;
}

.container .termos{
    font-size: 0.70rem;
    padding-top: 30px;
}

/* Por que ser premium */

.premium-geral{
    background-color: #fff;
}

.premium-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 }

 
 /*Por que ser premium ?*/
 .premium-content h2{
     font-size: 2.5rem;
     padding-right: 1rem;

 }
 
 .premium-cards-container{
     display: flex;
     overflow: auto;
     padding-bottom: 8rem;
 }
 
 /* Tirar a barra horizontal*/
 .premium-cards-container::-webkit-scrollbar{
     display: none;
 }
 
 /* Container  das imagens*/
 .premium{
     background-color: #fff;
     min-width: 50%;
     padding-left: 3.5rem;
     box-sizing: content-box;
 }
 
 .premium img:hover{
     cursor: pointer;
 }
 
 /*container com título e descrição*/
 .premium-info{
     display: flex;
 }
 
 .premium-info h2,
 .premium-info p{
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     width: 100%;
 }
 
 /*título*/
 .premium-info h2{
     font-size: 1.75rem;
 }
 
 /*Imagens*/
 
 .premium-cards-container{
     flex-wrap: wrap;
     overflow: visible;
     padding: 5rem 0;
 }
 
 .premium{
     min-width: 0;
     width: 25%;
     box-sizing: border-box;
     padding: 0.8rem;
 }

/* Planos */


.plan-premium{
    background-color: #efefef;
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 14vh;
    text-align: center;
    padding-left: 34%;
    font-size: 1.7rem;
}

.princing-table{
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #efefef;
    text-decoration: none;
    padding-left: 2rem;
    display: flex;
    height: 70vh;
}

.princing-card{
    background-color: #fff;
    margin: 20px 10px;
    cursor: pointer;
    overflow: hidden;
    transition: .3s linear;
    box-shadow: 0.1rem 0.1rem 0.5rem -0.2rem rgba(0, 0, 0, 0.1);
}

.princing-card-header{
    background-color: #00d4ff;
    display: inline-block;
    align-items: center;
    padding: 12px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    transition: .4s linear;
}

.princing-card:hover .princing-card-header{
    box-shadow: 0 0 0 26em #00d4ff;
}

.princing-card:hover, .princing-card:hover .price{
    color: #fff;
}

.princing-card li{
    padding: 10px 0;
}

.order-btn{
    display: inline-block;
    margin-bottom: 40px;
    border: 2px solid #00d4ff;
    padding: 10px 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s linear;
}

.order-btn:hover{
    background-color: #00d4ff;
    color: #fff;
}

/* Rodapé */

footer {
    position: relative;
    background-color: #000;
    min-height: 40vh;
    width: 100%;
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 4fr 1fr;
    place-items: center;
    align-items: flex-start;
}
footer * {
    text-decoration: none;
    color: #fff;
}
footer h5 {
    opacity: .4;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .05rem;
}

.web_links_container {
    display: flex;
}
.web_links {
    margin-left: 3rem;
    display: flex;
    align-items: flex-start;
    column-gap: 3rem;
}
.web_links > div {
    display: flex;
    flex-direction: column;
}
.web_links a,
.web_links h5 {
    margin: .5rem 0;
    font-size: .9rem;
}

.social_links {
    display: flex;
    margin-right: 10rem;
}
.social_links a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #222326;
    border-radius: 50%;
    margin: 0 .5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other_links,
.copyright {
    opacity: .5;
    font-size: .7rem;
    margin-top: 6rem;
}
.other_links a {
    margin: 0 .5rem;
}

.copyright {
    margin-top: 5rem;
    text-align: right;
}
.copyright a {
    display: block;
    margin-bottom: .5rem;
}