@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* a{
    text-decoration: none;
}

* {
    font-family: 'Poppins', sans-serif;
}

.logo {
    display: flex;
    height: 120px;
}

body{
    overflow-x: hidden;
    background-color: #000;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
    background-color: #000;
}
.nav_links a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: .5rem 1.5rem;
    font-size: .95rem;
}
.line {
    display: inline-block;
    width: 1px;
    height: 1rem;
    background-color: #fff;
}
a:hover,
a:hover i {
    color: #00d4ff;
}

.buscar {
    display: flex;
    height: 30vh;
    width: 100%;
    background: url(Imagens/search-desktop.webp);
    align-items: center;
    justify-content: center;
}

form {
    background-color: #fff;
    width: 650px;
    height: 64px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

input {
    all: unset;
    font: 23px system-ui;
    font-family: 'Poppins';
    font-weight: 400;
    color: #000;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

.buscar button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
svg {
    color: #000;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }

.blocos{
    text-align: center;
    margin: 0;
    padding: 0x;
    box-sizing: border-box;
    background-color: #fff;
    text-decoration: none;
    padding-left: 2rem;
    justify-content: center;
    display: flex;
    height: 40vh;
}

.bloco-item{
    background-color: #efefef;
    margin: 20px 10px;
    padding: 30px 50px;
    cursor: pointer;
    overflow: hidden;
    transition: .3s linear;
    box-shadow: 0.1rem 0.1rem 0.5rem -0.2rem rgba(0, 0, 0, 0.1);
}

.bloco-item p{
    padding: 30px 0px;
}


.encontre{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-items: center;
    padding: 5rem 1.5rem;
    width: 100%;

}

.encontre h1{
    font-size: 2.8rem;
}

.encontre p{
    font-size: 1rem;
    font-weight: 500;
}

.encontre button{
    background-color: #00d4ff;
    padding: 1rem 4rem;
    border-radius: 100vw;
    border: none;
    color: #022127;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 2rem;
    cursor: pointer;
    /* agora vamos adicionar aquele foco legal e efeito ativo */
    transition: 100ms ease-in-out box-shadow;
}

.encontre button:hover{
    transform: scale(1.05);
}

.encontre button:active {
    box-shadow: 0 0 0 .2rem #2941AB,
                0 0 0 .4rem #fff;
                /* adicione o +2 o valor que você adicionou à primeira sombra */
                /* primeira sombra .2 + segunda sombra +2 = .4rem */
}



/* Rodapé */

footer {
    position: relative;
    background-color: #000;
    min-height: 40vh;
    width: 100%;
    padding: 4rem 0;
    display: grid;
    grid-template-columns: 4fr 1fr;
    place-items: center;
    align-items: flex-start;
}
footer * {
    text-decoration: none;
    color: #fff;
}
footer h5 {
    opacity: .4;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .05rem;
}

.web_links_container {
    display: flex;
}
.web_links {
    margin-left: 3rem;
    display: flex;
    align-items: flex-start;
    column-gap: 3rem;
}
.web_links > div {
    display: flex;
    flex-direction: column;
}
.web_links a,
.web_links h5 {
    margin: .5rem 0;
    font-size: .9rem;
}

.social_links {
    display: flex;
    margin-right: 10rem;
}
.social_links a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #222326;
    border-radius: 50%;
    margin: 0 .5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other_links,
.copyright {
    opacity: .5;
    font-size: .7rem;
    margin-top: 6rem;
}
.other_links a {
    margin: 0 .5rem;
}

.copyright {
    margin-top: 5rem;
    text-align: right;
}
.copyright a {
    display: block;
    margin-bottom: .5rem;
}
